body, html {
  height: 100%;
  margin: 0;

  background-image: url("./images/swirlyWood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* .navb {
  width: 100vw;
}  */

/* .background { */
  /* background-image: url("./images/swirlyWood.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh; */
  /* margin: 0;
  padding: 0; */
/* } */

h1 {
  margin-top: 5%;
  text-align: center;
  color: white;
  filter: drop-shadow(0 0 0.25rem rgb(70, 70, 70)); 
}

p {
  padding: 3% 4% 1% 4%;
}

.headshot {
  margin: 3% 4% 1% 4%;
}

.card {
  margin: 3%;
}

.container {
  margin: 0;
  padding: 0;
  width: 90%;
}

.row {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* .App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
